// File for scss-vars.
// For example: main colors, paddings and so on.
$title: rgba(0, 0, 0, 0.87);
$caption: rgba(0, 0, 0, 0.54);
$basic-blue: #3F51B5;
$light-blue-active: rgba(63, 81, 181, 0.4);
$new-card-hover: #F9AA33;
$card-hover: rgba(0, 0, 0, 0.16);
$dark-blue-app-bar: #002984;
