<div class="card-wrapper">
    <div class="mdc-card my-card">
        <div class="my-card__media mdc-card__media mdc-card__media--16-9"></div>
        <div class="card-info">
            <p class="card-info__date mdc-typography--caption">25.02.2018</p>
            <h6 class="mdc-typography--headline6 card-info__header">Название сайта</h6>
        </div>
        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <button class="mdc-button mdc-card__action mdc-card__action--button my-action-btn my-action-btn--color mdc-typography--body2">Опубликовать</button>
            </div>
            <div class="mdc-card__action-icons mdc-card__action-icons--custom">
                <i class="material-icons mdc-card__action mdc-card__action--icon" tabindex="0" role="button" title="Share">
                    {{Icon iconName='delete-btn-icon' iconWidth='48' iconHeight='48'}}
                </i>
            </div>
        </div>
    </div>
</div>
