.mdc-toolbar__row--custom {
  display: flex;
  justify-content: center;
  background-color: #fff;
  min-height: 48px!important;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}
.mdc-toolbar__row.mdc-toolbar__row--custom {
  @media (max-width: 600px) {
    display: none;
  }
}
.mdc-tab-bar__indicator--blue {
  background-color: blue!important;
}
.mdc-tab--active {
  color: blue!important;
}
.toolbar-menu-inner-wrapper {
  display: flex;
}
.menu-toggle.menu-toggle--custom {
  display: none;
  align-items: center;
  
  @media (max-width: 600px) {
    display: flex;
    padding: 0;
  }

  & span.menu-toggle__btn {
    @media (max-width: 600px) {
      display: flex;
      align-items: center;
      padding-left: 15px;
    }
  }
}
.menu-toggle__text {
  font-size: 12px;
  font-weight: 500;
}
.mdc-toolbar__title.mdc-toolbar__title--custom {
  padding: 0;
  @media (max-width: 600px) {
    display: none;
  }
}
.mdc-toolbar__title--mobile {
  display: none;
  color: #fff;
  
  @media (max-width: 600px) {
    display: block;
    width: 110px;
  }
}
.material-icons.my-material-icon {
  width: 48px;
  height: 48px;
}
.my-drawer__drawer .mdc-list-item {
  padding-left: 8px;
}
.my-drawer__drawer.mdc-drawer__drawer{
  max-width: 304px;
}
.my-drawer.mdc-drawer--temporary .mdc-drawer__header:before {
  padding-top: 70%;
}
.mdc-drawer__header-content--custom {
  background-color: #3F51B5;
}
.my-drawer-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #3F51B5;
}
.user-info {
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  color: #fff;
}
.user-info__name {
  margin-bottom: 3px;
}
.mdc-list-item__graphic.mdc-list-item__graphic--custom {
  width: 48px;
  height: 48px;
}
.my-material-icon.mdc-top-app-bar__action-item {
  padding: 0;

  @media (max-width: 600px) {
    padding: 6px;
  }
}
.bg-basic-blue {
  background-color: $basic-blue;
}
.my-app-toolbar-mobile {
  overflow: hidden;
  @media (max-width: 600px) {
    display: none;
  }
}
.my-toolbar__row-decor {
  display: none;
  @media (max-width: 600px) {
    display: block;
    min-height: 24px;
    height:24px;
    background-color: $dark-blue-app-bar;
  }
}
.my-section-mobile {
  flex: 0 1 100px;
}