<header class="mdc-toolbar">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="#" class="material-icons mdc-toolbar__menu-icon menu-toggle menu-toggle--custom">
                <span class="menu-toggle__btn">
                     {{Icon iconName='menu-burget-btn-icon' iconWidth='48' iconHeight='48'}}

                    <span> Меню</span>
                </span>
            </a>
            <a href="index.html" class="mdc-toolbar__title mdc-toolbar__title--custom">
                {{Icon iconName='logo-icon' iconWidth='157' iconHeight='36'}}
            </a>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <a href="#" class="material-icons mdc-top-app-bar__action-item my-material-icon" aria-label="Download" alt="Download">
                {{Icon iconName='icon-avatar' iconWidth='70' iconHeight='70'}}
            </a>
        </section>
    </div>
    <div class="mdc-toolbar__row mdc-toolbar__row--custom">
        <section id="dynamic-demo-toolbar">
            <nav id="dynamic-tab-bar" class="mdc-tab-bar" role="tablist">
                <a role="tab" aria-controls="panel-1"
                   class="mdc-tab" href="#panel-1">Шаблоны</a>
                <a role="tab" aria-controls="panel-2"
                   class="mdc-tab mdc-tab--active" href="#panel-2">Мои сайты</a>
                <a role="tab" aria-controls="panel-3"
                   class="mdc-tab" href="#panel-3">Настройки</a>
                <a role="tab" aria-controls="panel-3"
                   class="mdc-tab" href="#panel-3">Платежи</a>
                <span class="mdc-tab-bar__indicator mdc-tab-bar__indicator--blue"></span>
            </nav>
        </section>
    </div>
</header>
<aside class="my-drawer mdc-drawer mdc-drawer--temporary mdc-typography">
    <nav class="my-drawer__drawer mdc-drawer__drawer">
        <header class="mdc-drawer__header">
            <div class="mdc-drawer__header-content mdc-drawer__header-content--custom">
                <div class="my-drawer-content">
                    {{Icon iconName='drawer-menu-avatar' iconWidth='80' iconHeight='80'}}
                    <div class="user-info">
                        <span class="user-info__name">Иванов Иван</span>
                        <span class="user-info__mail">ivanov@gmail.com</span>
                    </div>
                </div>
            </div>
        </header>
        <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic--custom" aria-hidden="true">
                    {{Icon iconName='templates-icon' iconWidth='48' iconHeight='48'}}
                </i>
                Шаблоны
            </a>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic--custom" aria-hidden="true">
                    {{Icon iconName='sites-icon' iconWidth='48' iconHeight='48'}}
                </i>
                Мои сайты
            </a>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic--custom" aria-hidden="true">
                    {{Icon iconName='settings-icon' iconWidth='48' iconHeight='48'}}
                </i>
                Настройки
            </a>
            <a class="mdc-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic--custom" aria-hidden="true">
                    {{Icon iconName='payments' iconWidth='48' iconHeight='48'}}
                </i>
                Платежи
            </a>
        </nav>
    </nav>
</aside>