<div class="cards-container">
    <h1 class="cards-block__header mdc-typography--headline4">Мои сайты</h1>
    <div class="card-wrapper add-card">
        {{Icon iconName='new-site-card' className='new-site-card-btn' iconWidth='240' iconHeight='336'}}
    </div>
    {{> card-item/card-item}}
    {{> card-item/card-item}}
    {{> card-item/card-item}}
    <div class="cards-container__add-btn">
        <button class="mdc-fab material-icons" aria-label="Favorite">
          <span class="mdc-fab__icon">
            {{Icon iconName='plus-icon' iconWidth='16' iconHeight='16'}}
          </span>
        </button>
    </div>
</div>
